# data / outputs
data/raw/
mlruns/
artifacts/encoder/
artifacts/model.pkl
artifacts/best_hyperparameters.json

# python
__pycache__/
*.pyc
.pytest_cache/
.venv/
mlflow.db
notebooks/preprocessing/label_encoding_map.json