apiVersion: batch/v1
kind: Job
metadata:
  name: my-ml-project-train
spec:
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: trainer
          image: my-ml-project:latest
          command: ["python", "-m", "my_project.train"]
